[2018-05-25 08:34] Lesbinary opened #1 "Reduce number of dependencies in 'requirements.txt""
Hi. I don't think that all the dependencies specified right now in the 'requirements.txt' are necessary, as 'jupyter-core', 'ipython' and many other that are not even imported by any of the `bicleaner` scripts. Could you take a look at them?

[2018-05-25 08:40] mbanon commented on #1
@Lesbinary  Sure!

[2018-05-25 08:46] Lesbinary opened #2 "Delete/reset/rebase the commits with the language data from remote repository"
Hi again. I am downloading this project and it takes like 15 minutes with 20Mb Internet connection because of old commits with the data of "bitextor-data/bicleaner". Could you please try to delete the old commits (IDK how, if reset or rebase would be enough) to avoid that? Thanks!

[2018-05-25 08:55] mbanon commented on #2
@Lesbinary Sure, let me take a look into it

[2018-05-25 09:08] mbanon commented on #2
@Lesbinary Since the first commit of the repo is the one that contains the huge data files, maybe it's easier/faster to remove the whole repo and start it again. What do you think?

[2018-05-25 09:29] #2 closed

[2018-05-25 10:15] mbanon commented on #1
Fixed

[2018-05-25 10:15] #1 closed

[2018-10-30 10:37] kpu opened #6 "Multi-machine parallelism"
We can't afford to wait a week for bicleaner to run on the large crawls.  Since classification decisions are independent at the sentence level, let's use multiple machines.  Can this be done with GNU `parallel --pipe` and `--sshlogin`?

[2018-10-30 10:44] kpu commented on #6
More generally, can you separate the multiprocess stuff from the classifier in `https://github.com/bitextor/bicleaner/blob/master/bicleaner/bicleaner_classifier_full.py` so that somebody could bypass your multiprocess entirely, submit single-core slurm jobs, and aggregate later (which I think is just cat?)?

[2018-11-07 13:06] mbanon commented on #6
@kpu
Hi, we just released a "lite" bicleaner that has no multiprocessing at all.
We are still doing some tests to compare its performance with those of using the "full" bicleaner with the  -p1 option (that is: using only one process), but it's already available:
* Here in github: bicleaner/bicleaner_classify_lite.py
* In pypi: python3 -m pip install bicleaner (you'll get v. 0.10.5) and you'll get

[2018-11-07 13:36] hieuhoang commented on #6
On a 32-core machine with the data on a network drive, this is the output from top

Tasks: 918 total,   4 running, 913 sleeping,   0 stopped,   1 zombie
%Cpu(s):  0.2 us,  0.8 sy,  7.7 ni, 91.1 id,  0.0 wa,  0.0 hi,  0.1 si,  0.0 st
KiB Mem : 29712016+total,  9048732 free, 67876088 used, 22019532+buff/cache
KiB Swap: 29282201+total, 28801974+free,  4802268 used. 22621641+avail Mem

  PID USER

[2018-11-07 13:38] kpu opened #7 "Generic tokenizer"
Currently the tokenizer is hard-coded to Moses.  The user should be able to specify an arbitrary pre/post processing pipeline.  This is necessary to support e.g. Chinese and Arabic.  Admittedly outside the remit of ParaCrawl's EU languages.

[2018-11-07 13:41] kpu commented on #6
@hieuhoang Which is exactly why I asked them to remove their parallelization so we can use GNU parallel.
`pv paracrawl/paracrawl-release3.en-es.gz |zcat |parallel -k --pipe python3 .local/bin/bicleaner-classify-lite - /mnt/vali0/hieu/workspace/experiment/bicleaner/en-es/training.en-es.yaml |pigz >en-es.gz`

[2018-11-08 12:25] kpu opened #8 "Speed"
I suspect bicleaner can be much much faster.  Have you done some profiling?

As an example, you're currently running a regex for each character class to count them:
https://github.com/bitextor/bicleaner/blob/master/bicleaner/features.py#L243
which would be faster just iterating over characters, classifying, and incrementing the appropriate count.

Are you doing any batching for classifier inferenc

[2018-11-08 12:49] sortiz commented on #7
Would  a flag for "tokenize by whitespace" be acceptable? So that anyone can pre-tokenize corpora and then work with it.

[2018-11-08 12:55] sortiz commented on #8
Yes, we profiled bicleaner (the profiling code for cProfile is currently commented). The bottleneck was and is qmax, it was improved to perform a "approximated Qmax" that works the same with short sentences and OK with long sentences.

I don't remember if it was relevant or not the time that character_class_dist took. Probably it wasn't. We'll check.

Classifier inference was batched by "block" in

[2018-11-08 13:04] kpu commented on #8
As in the classifier uses multiple threads when batching?  Batching is still a good strategy even in the lite version with a single thread.  As Hieu mentioned, the current parallelization often leaves CPUs idle.

[2018-11-09 10:20] mbanon commented on #8
Hey,
we've been doing some performance tests:

* Full bicleaner with -p1 option: 1743 rows/sec
* Lite bicleaner:  ???
* Lite bicleaner, allowing parallelization in sklearn: 3590 rows/sec
* Lite bicleaner with character_class_dist refactor : ???
* Lite bicleaner with parallelization in sklearn and character_class_dist refactor : 3541 rows/sec

(Please note that the non-parallelized lite versions ar

[2018-11-09 10:22] mbanon commented on #6
Hi,
please check https://github.com/bitextor/bicleaner/issues/8#issuecomment-437315462

[2018-11-09 11:04] mbanon commented on #8
Both things

[2018-11-16 13:04] kpu commented on #8
So. . . is it possible to batch computation to take advantage of SIMD but not thread (which we would handle with multiple processes)?

[2018-11-16 13:06] kpu opened #9 "Add model training to bitextor snakemake"
The Alicante & London people have a snakemake pipeline.  This includes MT training and filtering.  But it can't built its own bicleaner models.  Really the point of the open source release is that people can run their own languages.  Can you add bicleaner training to bitextor's snakemake?

[2018-11-16 14:52] mbanon commented on #9
Hi Ken,
we scheduled a talk with the Alicante team to discuss how to implement this.
Cheers.

[2018-11-16 15:36] mbanon commented on #8
Apparently, it's possible.
I've changed the code in the lite classifier to force sklearn to use only one job.
But, according to their own documentation, it's still possible that some paralelism occur due  to numerical processing libraries.
In order to avoid that, please check
https://scikit-learn.org/stable/faq.html#faq-mkl-threading

[2018-11-16 17:31] kpu commented on #8
I'm ok with it being faster ;-)

[2018-11-19 08:53] mbanon commented on #8
Updated bicleaner lite both in repository and PyPI  (version 0.10.6)
Closing  issue.

[2018-11-19 08:53] #8 closed

[2018-11-19 08:53] mbanon commented on #6
Updated bicleaner lite both in repository and PyPI  (version 0.10.6)
Closing  issue.

[2018-11-19 08:53] #6 closed

[2018-11-22 13:48] lpla opened #10 "Allow bicleaner to read files from stdin (or gzip/xz compressed files)"
Hi. Is it possible to change the way argparse manages the input to make it also compatible with stdin? (or compressed files like gzip or xz, using the actual path argument method)

[2018-11-22 14:05] mbanon commented on #10
Can I have an example, please?

You can currently use compressed files with something like:

zcat corpus.gz |  bicleaner_classify - output training.yaml

[2018-11-22 19:13] lpla commented on #10
Are you sure? Code doesn't seem to do that as input is managed this way:

`    parser.add_argument('input', type=argparse.FileType('rt'), default=None, help="Tab-separated files to be classified")      `

I don't know if this manages stdin when given `default=None`. Now that I am looking that the input management code, maybe just changing that to `default=sys.stdin` works (unable to test it now, s

[2018-11-22 20:31] mbanon commented on #10
I've always been running Bicleaner as in my previous comment, so... 100% sure it works

[2018-11-26 11:03] lpla commented on #10
Ok, yes, it works, if you pass the argument '-' as input it reads text from pipe. Thanks!

[2018-11-26 11:03] #10 closed

[2018-11-30 09:38] mbanon opened #11 "Reuse Bitextor dictionaries for Bicleaner training"
In order to achieve an user-friendlier pipeline, bicleaner-train should be able to use the bitextor dictionaries.

[2018-12-18 09:19] mbanon commented on #11
@mespla  and  @lpla  are working on it.

[2018-12-18 09:19] mbanon commented on #9
@mespla  is working on it

[2018-12-18 09:21] mbanon commented on #7
@lpla  is working on it.

[2018-12-18 09:28] #11 closed

[2018-12-18 16:40] lpla commented on #7
Done

[2018-12-20 18:02] lpla commented on #9
Now it is done in `bitextor-malign` branch of `bitextor`, in the Snakemake pipeline.

[2018-12-20 18:02] #9 closed

[2018-12-20 18:54] mbanon commented on #7
plealse @lpla , fix the default tokenizer thing

[2018-12-21 17:21] #7 closed

[2019-01-24 16:53] kpu opened #13 "Length normalization in qmax"
I presume the intent of length normalization in
https://github.com/bitextor/bicleaner/blob/master/bicleaner/features.py#L147
is to divide by the number of values accumulated to the log probability.

If that is the case:
1. Why does it take `max(len(tlwords), limit)` instead of the minimum?  Why should a 2-word sentence be length normalized by 20?
2. What about the OOV words passed by https://githu

[2019-01-24 18:12] sortiz commented on #13
Hello

Sorry, that was my mistake. It should be min(), obviously, as you point.

logresult = float(logresult)/float(min(len(tlwords), limit))

Yes, a small probability, as log(prob) should be added instead of pass not adding anything.

if tlword not in dict_ttos:
   logresult += math.log(0.00001) # for example

[2019-01-24 18:14] sortiz commented on #13
If after fixing this two mistakes the results will be better or worse, it’s another story. We hope it will be better.

[2019-01-24 18:18] kpu commented on #13
Agreed we don't know if quality will be better; I suspect the model is mostly able to use the oov count feature to compensate for the second one.
However, a model trained with one version and applied with another version will be worse.  Do you have some sort of version control on the model files to prevent cross-contamination?

[2019-01-24 18:19] sortiz commented on #13
No, we don’t have that, but what we can do is to set it from now on, and then the  processing not having that property  will work as the current version.

[2019-01-25 15:52] sortiz commented on #13
First tests for English-German

For 1M sentences, rank >= 0.7; before we had 90K, now we have 100K

We lost 10K mostly good sentences that before ranked just above 0.7 and now they rank just below.
We gained 20K mostly good sentences, but shorter (approx half the length on avg).
The rest of the sentences (80K) are the same.

We will try to evaluate with other language pairs to see if it’s consiste

[2019-01-28 11:39] mbanon commented on #13
Fixed, tested, and updated in repository/PyPI.

[2019-01-28 11:39] #13 closed

[2019-02-14 17:32] lpla opened #14 "TypeError: '<' not supported between instances of 'NoneType' and 'float'"
I run Bicleaner without the new language model feature (as I have been always running) and I got this error:

[code]

I think that some checks need to be done in this code block when no language model is given (and I guess the same for `bicleaner/bicleaner_classifier_full.py`): https://github.com/bitextor/bicleaner/blob/4051409e47e7e266a5dc3e381133f569c003362f/bicleaner/bicleaner_classifier_lite.p

[2019-02-14 17:34] vitaka commented on #14
I did one last-minute refactor without properly checking that I did not break anything. Working on the fix...

[2019-02-14 18:02] vitaka commented on #14
It should be fixed in last commit: 5676f745a2a5384e8524c0e0d7e78ff140486950

[2019-02-15 14:28] mbanon commented on #14
Hey @lpla ,
please confirm the fix worked so we can close this issue,
thanks!

[2019-02-15 16:19] lpla commented on #14
I confirm it works now with Bitextor. Closing.

[2019-02-15 16:19] #14 closed

[2019-02-16 10:15] mbanon commented on #14
Fixed also in PyPI's Bicleaner v. 0.11.2

[2019-03-20 09:28] phikoehn opened #16 "Training instructions lacking..."
I downloaded the en-de model, and am now trying to replicate training.

I had to make some guesses (e.g., how to specify the training data, what
the switches -m and -c need), so I am running this in an attempt to replicate
the provided model:

bicleaner-train -m en-de.yaml.my -c en-de.classifier.my -s en -t de -d dict-en.gz -D dict-de.gz --lm_file_sl en-de.model.en --lm_file_tl  en-de.model.de  tr

[2019-03-20 12:11] mbanon commented on #16
Hi Philip,
thanks for your comments,  I'll take them into account to improve the documentation.

The processes being spawned and killed are due to training parallelization. This can be avoided by running "bicleaner-train-lite" instead of "bicleaner-train"  (lite versions do not use parallelization).

(1)
Yes, these are lex files. We have an "experimental" script that performs some operations on th

[2019-03-20 13:31] vitaka commented on #16
Let me add a few clarifications:

(1) Dictionary fields are space separated: I corrected the README to make it clear.

(2) bicleaner-train DOES train the character language models too. That's why we stress in the documentation that "lmplz" must be in the PATH and you do not need to manually add the file names of the language model files.

In order to use the language models for filtering out noisy

[2019-03-21 07:38] phikoehn commented on #16
Thank you - this is helpful.

Here is where I am:

(1) When I run
   `bicleaner-hardrules -s en -t de --tmp_dir . train.en-de noisy`
I get an output file "noisy" that has exactly the same sentences as train.en-de
(column 3 is either 0.00000000 or empty, column 4 is always "discard")
So, this does not give me a noisy corpus.

(2) This command seems to be doing all there needs to be done, right?
`bi

[2019-03-21 11:03] mbanon commented on #16
(1)
You are right, the documentation is not clear about this. Those entries that are marked with "0.0000 discard" are the noisy ones. The ones  with the 3rd and 4th column empty are the not noisy ones.

You might want to use the "--annotated_output ANNOTATED_OUTPUT" option instead, that gives you a file with (only) the noisy sentences and the reason for it (e.g. one side is too short, both source

[2019-03-21 11:36] mbanon commented on #16
Just an extra clarification on point 4:
The models included in the language packs are those needed for classifying, but the files used on bicleaner-train to build them are NOT included.

Not included:
--noisy_examples_file_sl
--noisy_examples_file_tl
--lm_training_file_sl
--lm_training_file_tl
--lm_clean_examples_file_sl
--lm_clean_examples_file_tl

But I can provide them to you if you want to tra

[2019-03-21 18:19] mbanon commented on #16
@phikoehn  I just noticed that you edited your message while I was writing the reply, so I replied to an older version of your comment, and now my replies does not have much sense with your current message.
I'm deleting my messages, please see below the corrected version, thanks!

[2019-03-21 18:20] mbanon commented on #16
(1)
You are right, the documentation is not clear about this (I've just changed it). Those entries that are marked with "0.0000 discard" are the noisy ones. The ones with the 3rd and 4th column empty are the not noisy ones.
You might want to use the "--annotated_output ANNOTATED_OUTPUT" option instead, that gives you a file with (only) the noisy sentences and the reason for it (e.g. one side is to

[2019-03-22 15:29] vitaka commented on #16
Hi.

Some more clarifications follow:

(2): With that command you are obtaining LM training corpora and dev clean from "train.en-de" and dev noisy from the files you are specifying. --lm_training_file_sl an --lm_training_file_tl only work if --lm_clean_examples_file_sl and --lm_clean_examples_file_tl are also specified. If any of the 4 flags is not set, they are completely ignored. I modified Bicl

[2019-03-31 20:33] phikoehn opened #17 "Creating lex files"
**Here is what I used to create the dictionary files for en-de:**

cut -f 1 train.en-de | $MOSES/scripts/tokenizer/tokenizer.perl -threads 20 -l en | $MOSES/scripts/tokenizer/lowercase.perl > train.tok.en
cut -f 2 train.en-de | $MOSES/scripts/tokenizer/tokenizer.perl -threads 20 -l de | $MOSES/scripts/tokenizer/lowercase.perl > train.tok.de

$MOSES/scripts/training/clean-corpus-n.perl train.tok en

[2019-04-01 08:54] sortiz commented on #17
Hello Philipp

What we used is the pre-aligned files available in Opus but we filter out not just probabilities <0.1, but probabilities <0.1 * max({p_trans(word)}) instead (if I understand your perl code, which in the case of perl it’s always challenging), if I remember correctly.

But it would be interesting to look at how it works that way because I presume the dictionaries will be smaller.

Ser

[2019-04-04 21:57] phikoehn opened #18 "Experiments on WMT 2018 shared task setup"
I trained a few models for en-de and tested it on the WMT 2018 de-en shared task setup.

`BLEU-c/SMT .  . . . . . . . 100m  _10m  __1m`
`PROMPT-LM submission . . . 31.1 25.4`
`JHU Zipporah submission. . 30.2 26.3`
`provided model  . . . . . . 29.6  23.3  18.8`
`nc . . . . . . . . . . . . 27.1 26.3 22.5`
`wmt. . . . . . . . . . . . 28.0 26.7 22.3`
`wmt-cc . . . . . . . . . . 30.7 26.3 21.3`
`wmt ba

[2019-04-04 22:01] phikoehn commented on #17
I am doing the filtering just as you describe. For the provided train data, the dictionaries are smaller, but for WMT sized data, the dictionaries are similar size.

[2019-04-05 08:41] mbanon commented on #16
Hi @phikoehn ,
please let us know if your problem was solved, so we can close the issue.
Thanks!

[2019-04-05 08:44] mbanon commented on #18
Probably @vitaka  is the most suitable person to answer this.

[2019-04-05 09:45] mbanon commented on #17
@phikoehn Which size is "WMT sized data"?
If I remember correctly, for en-de we built the dictionaries from DGT (3.2M sentences), OpenSubtitles2018 (24.4M) and News-Commentary11 (200K)

[2019-04-05 13:09] vitaka commented on #18
Hi Philipp,

Thanks for reporting this.

WMT 2018 exact results are difficult to reproduce with the current version of Bicleaner because of two main reasons:
- In the submission, we used an additional n-gram saturation filter (see Section 4.3 of https://aclweb.org/anthology/W18-6488) which discarded sentences too similar to those already included in the filtered corpus. This was a shared-task-spec

[2019-05-30 07:18] #16 closed

[2019-05-30 07:18] #17 closed

[2019-05-30 07:18] #18 closed

[2019-07-02 15:00] owenljn opened #19 "math domain error bug fix"
The bug is located in line 143 of function feature_dict_max.

This bug occurs if the source language word-target language word pair is not found in dictionary file, the probability will be zero, then the math.log(prob) would generate a math domain error, I've attached my fix below, and the code efficiency is improved by a little where math.log is called for only once

    if treat_oovs:
        fo

[2019-07-02 16:54] sortiz commented on #19
Thank you for your report. I have a concern, please help me to fully see what the problem is: if `dict_stot.smooth > 0`, then `prob` can never be zero, (which is always the case). It is true that it is far away in the code.

[code]

[2019-07-02 17:57] owenljn commented on #19
Thanks for your clarification regarding usage of logarithm.

As for the dict_stot.smooth, I do have my dictionary containing prob equals to 0, this results in self.minprob being set to zero during the dictionary loading process, which then sets self.smooth equal to zero.

[2019-07-02 18:36] sortiz commented on #19
I would recommend you to remove those entries or to replace the 0s with a positive number really low, like 0.0000001 or less. Alternatively, we could include this behaviour in the dictionary class when loading the values.

[2019-07-02 18:54] owenljn commented on #19
Thanks for your reply, the zeros are generated by moses, it would be great if you can include this behaviour in the dictionary class, so the code would be perfect.

[2019-07-02 18:54] #19 closed

[2019-07-02 19:12] sortiz commented on #19
Please use this at [prob_dict.py, line 29](https://github.com/bitextor/bicleaner/edit/master/bicleaner/prob_dict.py)

[code]

It will take a while until we perform this modification, we need to test it extensively.
Thank you.

[2019-09-10 10:46] alexkillen opened #21 "Update version in pypi"
Just FYI, the version in pypi (0.11.9) still uses scipy 1.0.0, and doesn't include the fix in commit 58f5a5849193aa65a11d76f144f7b2e981f9d846 so it doesn't work with Python 3.7.

Any idea when this fix will be in pypi?

[2019-09-10 11:02] mbanon commented on #21
Hi @alexkillen,
thanks for your feedback.
Bicleaner 0.12 will be launched during the next days.
I hope we will able to make that version work with Python3.7, but if not, we'll do the change as soon as posible in the upcoming weeks.
-Marta

[2019-10-08 01:49] sugiyamath opened #22 "Why do the provided data, en-fr and en-ru, have different formats?"
I downloaded two files from https://github.com/bitextor/bitextor-data/releases/tag/bicleaner-v1.1

- en-fr
- en-ru

but they have different format:

1. en-fr dict is sorted by second column.
2. en-fr dict has raw words, not ids.
3. en-ru dict is sorted by first column.
4. en-ru dict has ids, not words.

I assume that they have different denominators, so created a script for checking it:

[code]

a

[2019-10-08 09:13] mbanon commented on #22
Hi @sugiyamath !
Thank you for letting us know about this issue.
After inspecting data, we found out that the en-ru language pack is completely wrong  (probably from an older version of bicleaner), and shouldn't be there, so it has just been removed.
The correct format is the one in en-fr,  so for example, in `dict-fr.gz`:

[code]
the probabilty of "utilisaient" (fr) being translated as "using" (e

[2019-10-08 23:14] sugiyamath commented on #22
Hi, @mbanon
I have another question about bicleaner on bitextor.
According to bitextor's Snakefile, it uses mgiza to create a probabilistic dictionary:

[code]
https://github.com/bitextor/bitextor/blob/master/snakemake/Snakefile

```corpus.{l2}-{l1}.t3.final``` is a dictionary, but it is the same format as en-ru data, I think.

Does it work correctly?

[2019-10-10 09:12] mbanon commented on #22
Hi again,  @sugiyamath !
To be honest, I have never trained Bicleaner by using Snakemake (I always train Bicleaner beforehand), so I cannot assure that it's working.  Probably our Bitextor friends on charge of the Snakefile can bring some light into this matter (@lpla , @zuny26 , @mespla :wave: )

This is my recipe to build the probabilistic dictionaries from scratch:

1. You need a  corpus. I usu

[2019-10-10 23:46] #22 closed

[2019-10-16 09:55] lpla commented on #22
Is there a way to obtain lex.e2f and lex.f2e without having Moses as a dependency in Bitextor? Looks like we can use the "corpus.SL-TL.t3.final" and "corpus.??.vcb" files from `mgiza` to obtain the prob dicts. Also, this way, we can customize the filters of uncommon translations on-the-go.

[2019-10-16 10:01] mbanon commented on #22
@lpla  No idea, never tried before :woman_shrugging:

[2019-10-16 12:42] lpla commented on #22
Okay, we found out that we can do that in an already implemented rule in Bitextor. But one more question. Probabilistic dictionary **must** be generated with different corpora than the one used in Bicleaner model training, isn't it?

[2019-10-16 12:53] mbanon commented on #22
It's not mandatory.
The more lines in the corpus used for dictionaries, the better (I use corpora of around a few million lines). And for the training corpus, the cleaner the better (using around 100K).
So, you probably want a bigger corpus for dictionaries, even if it's "not as clean" as the training one.

[2019-10-17 09:01] lpla commented on #22
I think I fixed the dictionary creation rule in Bitextor, which should now output a proper Russian Bicleaner model instead of the one uploaded previously. So this fixes @sugiyamath initial issue in general. I just implemented it in https://github.com/bitextor/bitextor/commit/9007c5e15f045b3e6fd520330022ad97b7a7ac2a

But, before releasing this in a new Bitextor version, I would like to properly tes

[2019-10-17 09:09] mbanon commented on #22
It's still a WIP, but the important parts are already there: https://github.com/bitextor/bicleaner/wiki/How-to-train-your-Bicleaner

If you want to reproduce, for example, es-ca, these are the resources I used:

[code]
The es-ca I trained is already in the Releases page (as a draft).

[2019-10-20 15:46] Syrkovski opened #23 "en-zh model"
Hello, as far as I could see there isn't trained en-zh model. Would you give me some advice for training that model?

[2019-10-21 09:40] mbanon commented on #23
Hi @Syrkovski !
Currently we only offer pre-trained models for EU languages.
You can read our guide on Bicleaner training here: https://github.com/bitextor/bicleaner/wiki/How-to-train-your-Bicleaner

[2019-10-21 14:32] #21 closed

[2019-10-22 10:28] Syrkovski commented on #23
I followed this article, but dictionaries are not formed correctly. It has the following form:
afterwards NULL 0.0000124
pension NULL 0.0000372
truss NULL 0.0000124
birthday NULL 0.0000744
commemorate NULL 0.0000248

If I swap languages then English is becaming NULL. I tried to build a dictionary for en-fr pair, but the same error appears there too.

[2019-10-22 10:35] mbanon commented on #23
Maybe you have empty lines in your corpora?

[2019-10-22 10:43] Syrkovski commented on #23
No, there are no empty lines.

[2019-10-22 10:45] mbanon commented on #23
That's weird. Do  all lines containe "NULL", or only at the beginning?

[2019-10-22 10:51] Syrkovski commented on #23
Entire second column is "NULL"

[2019-10-22 11:11] Syrkovski commented on #23
The command from article: "mosesdecoder/scripts/training/train-model.perl"

[2019-10-22 12:05] Syrkovski commented on #23
The whole command:
mosesdecoder/scripts/training/train-model.perl --alignment grow-diag-final-and --root-dir bicleaner_inf/  --corpus bicleaner_inf/corpus.clean --e en --f zh --mgiza -mgiza-cpus 8 --parallel --first-step 1 --last-step 4 --external-bin-dir mgiza/mgizapp/bin/

First error to appear:

And after this the whole chunk of errors:

[2019-10-22 12:31] mbanon commented on #23
Either your corpus is wrongly encoded, or that's a Moses/Mgiza error. Maybe they (https://github.com/moses-smt/) can help you better.

[2019-10-22 12:44] Syrkovski commented on #23
What encoding should the corpus have?

[2019-10-22 12:49] mbanon commented on #23
https://github.com/moses-smt/mgiza/blob/master/mgizapp/scripts/merge_alignment.py#L66
Seems that  UTF-8

[2019-10-23 09:28] lpla commented on #22
I reproduced the `es-ca` model with those corpora to create a probabilistic dictionary and train a bicleaner classifier, following the Wiki 'How to'. I didn't manually test with EUbookshop and KDE as it is the same as yours.

Also, I checked that Bitextor produces correct and competitive Bicleaner models now, but they are a bit different as the filter used at the end of probabilistic dictionaries

[2019-10-23 09:36] mbanon commented on #22
Great, @lpla !

[2019-10-23 16:25] lpla opened #25 "DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23"
Using `bicleaner_train`, `bicleaner_train_lite`, `bicleaner_classifier_full` or `bicleaner_classifier_lite`, scikit-learn throws a deprecation warning, suggesting that joblib should be installed directly.
[code]

Joblib should be added to requirements.txt and those `bicleaner` scripts should be refactored to refer to the joblib package where appropriate.

[2019-10-25 08:52] Syrkovski commented on #23
The command used in "How to train your Bicleaner" for training:

But lmtrain.en-is.en, lmtrain.en-is.is, model.en-is.en, model.en-is.is files were not generated anythere. How I could get that files for my model?

[2019-10-25 10:13] mbanon commented on #23
`model.en-is.en` and `model.en-is.is` are output parameters, they are trained and produced by Bicleaner.

`lmtrain.en-is.en` and `lmtrain.en-is.is` are also treated as output parameters, but you won't get them as a result of training  (they are only used internally, you won't need them afterwards anyway). I know these are confusing, we should change this in future versions (they should be optional

[2019-10-28 10:10] Syrkovski commented on #23
I trained Bicleaner model and applied it to one of my datasets, so I got this probability distribution:

![изображение](https://user-images.githubusercontent.com/21174167/67670055-20a20880-f984-11e9-959c-579d8112bc8a.png)

Is it normal that I don’t have high probability values?

[2019-10-29 14:06] mbanon commented on #23
Maybe.
We never tried Bicleaner for chinese, so I don't know what distribution of probabilities should we expect.
Anyway, you can lower your threeshold (we currently set it to 0.7) if you consider your data above a certain level (i.e. 0.5) is clean enough.
A good starting point is inspecting the generated .yaml file, loooking at the max "accuracy_histogram"  (each number in this histogram correspo

[2019-11-08 09:03] akikaaa opened #26 "Any tips on training a good model ?"
Hi, thanks for such a good project. I trained a model on 5 million sentence paires extracted from UN parallel corpus with almost all default settings and tested on a private dataset. I found that except nearly half of the sentence pair scores are 0, all other sentence pairs' scores are closely around 0.5, and the score order doesn't well match the ture order in human sense. So I'm wondering how to

[2019-11-08 10:14] mbanon commented on #26
Hi @akikaaa ,
I'm glad you find Bicleaner useful, thank you so much!

Regarding your issue, did you read our recently published Wiki page on  training Bicleaner?
https://github.com/bitextor/bicleaner/wiki/How-to-train-your-Bicleaner
I strongly suggest you to read it , because it contains some of our 'expertise', and you'll surely find it useful.

You did not provide much information, but some like

[2019-11-15 16:21] #25 closed

[2019-11-20 02:35] akikaaa commented on #26
Hi @mbanon ,
Thanks for your response. I followed your suggestions to run the Hardrules with the --annotated_output and found same of the hardrule regex does not work well for my target language so I disabled it. I also reduce the number of input sentences. The result became much better.

[2019-11-20 02:39] #26 closed

[2019-11-20 09:22] mbanon commented on #26
@akikaaa  Great! I'm glad to read that it helped :)

[2019-11-20 17:05] #23 closed

[2020-02-18 21:18] javier171188 commented on #25
How do I have to import in order to avoid that warning?

[2020-02-18 21:30] mbanon commented on #25
Hi @javier171188 , Bicleaner 0.13 (released today in the master branch) has this dependency fixed.

[2020-04-26 11:35] Bachstelze opened #33 "OSError: Cannot read model"
I want to train an Abkazhian-Russian-bicleaner with the following command inside the bicleaner repo:
`python3.7 bicleaner/bicleaner_train.py \
ru-ab-parallel.clean \
--treat_oovs --normalize_by_length \
-s ru -t ab \
-d ru-ab-probability.dic -D ab-ru-probability.dic \
-b 1000 -c ru-ab.classifier \
-g 50000 -w 50000 \
-m ru-ab.yaml \
--classifier_type random_forest \
--lm_training_file_sl lmtrain.r

[2020-04-27 07:57] mbanon commented on #33
Hi @Bachstelze ,
I can see this in your output:
[code]
suggesting that the problem is your installation of KenLM.
Could you please follow this steps to install it? https://github.com/bitextor/bicleaner/wiki/How-to-train-your-Bicleaner#kenlm

I hope this solves the error. Please let me know if you are still experiencing issues :)

-Marta

[2020-04-27 19:49] Bachstelze commented on #33
There are several installations of KenLM on my system: with cmake  and pip for both python3.6, python3.7 versions. I don't know which is used or doesn't function. Hopefully a reinstallation of my system will clean the mess.
Thanks for your help so far.

[2020-04-27 20:03] Bachstelze commented on #33
The different versions of python confuse me. So the bicleaner is trained with python3.7, but KenLM is installed for python3.6?

[2020-04-27 20:57] ZJaume commented on #33
Hi @batchelze,

The tutorial was probably written before the update to python 3.7, so that command has to be `python3.7 -m pip install .` if you set up your environment with Python 3.7.  Furthermore, I advise you to create a virtual environment on your working directory, source it, clone KenLM, install it into the environment and run cmake pointing to that virtualenv. All of that using Python 3.7.

[2020-04-28 06:53] mbanon commented on #33
That's right, I've just updated the tutorial.

[2020-05-01 17:34] Bachstelze commented on #33
Thank you a lot! Now it is working.
Have a nice Labour Day!

[2020-05-01 17:34] #33 closed

[2020-05-04 09:23] kpu opened #35 "Consider sacremoses"
https://github.com/bitextor/bicleaner/blob/db9ca2498f6fd733d8237f5c075c6dbf892c53e3/bicleaner/util.py#L103

There is a python port of the Moses tokenizer: https://github.com/alvations/sacremoses .  Might want to check it does exactly the same thing.  But it will probably improve performance relative to feeding one line at a time across pipes.

[2020-05-04 09:44] naveenbharadwaj19 commented on #25
`DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.`

i'm facing the same issue how to fix this ? what does this error saying ?

[2020-05-04 09:50] ZJaume commented on #35
Yeah, I was considering that since I discovered the repo, but it seems that there are still issues to solve (https://github.com/alvations/sacremoses/issues/43)

[2020-05-04 09:54] ZJaume commented on #25
Maybe you are using models trained with Bicleaner 0.12 and below, so the `.classifier` files were created with sklearn-0.21. You should use Bicleaner v0.13 and Bicleaner models v1.3, or in case you are using your own models train them again with Bicleaner 0.13.

[2020-06-11 12:08] mbanon commented on #35
Hi, I've been doing some tests comparing Bicleaner using mosestokenizer and using sacremoses.

Sacremoses is, as expected, faster than mosestokenizer:

* Old: 40.5K sents/sec (avg)
* New: 46.7K sents/sec (avg)

[2020-06-12 07:09] mbanon commented on #35
Integrated into Bicleaner 0.14 :ok_hand:

[2020-06-12 07:09] #35 closed

[2020-07-08 23:21] cidrugHug8 opened #42 "Training failed."
While training classifier I got some error described below:
[code]
Training parameters are here:
[code]
Could you give me some advice?

Best regards

[2020-07-09 06:36] mbanon commented on #42
Hi @cidrugHug8 ,
thanks for your feedback.

We are investigating the issue, I assume you are using the master branch, right?
Could you please provide a line count of the following files?

* `${SEED}.sp.en-ja.bifixed`
* `${DIR}/wrong.en-ja`

BTW, I noticed you are using japanese as your target language. Bicleaner currently uses MosesTokenizer. You may want to use a target tokenizer of your choice b

[2020-07-10 07:10] cidrugHug8 commented on #42
Hi Marta,
thanks for your reply.

Yes, I used the master branch.
[code]
Oops, I found out why it failed. ${DIR}/wrong.en-ja was monolingual.
I rebuilt the corpus and it looks to work.

So my new question is, I tokenized my corpus using sentencepiece, how can I give the -S and -T options an argument in addition to the program full path?

Best regards

[2020-07-10 07:24] mbanon commented on #42
Hi,
I am glad you found the error and it's working now :)

I am not 100% sure that if in the master version would work something like `-T "/path/to/the/tokenizer -with -your -arguments"` (we've been improving this in [version 0.14](https://github.com/bitextor/bicleaner/tree/bicleaner-0.14) that is coming soon). If not, wrapping your command and arguments in a dummy script that just read standard i

[2020-07-10 08:55] cidrugHug8 commented on #42
By following your advice, I was able to specify the full path and argument of the tokenizer with the -S option and -T. I'm waiting for the results of the execution now.

Thank you very much!

[2020-07-10 08:56] #42 closed

[2020-07-15 01:48] cidrugHug8 opened #43 "Training failed with the -S and -T options."
While training classifier I got some error described below:
[code]
Training parameters are here:
[code]
Could you look at that and give me some advice?

Best regards

[2020-07-15 05:54] cidrugHug8 commented on #43
wait, i mistaken again. i'm checking.

[2020-07-15 06:37] cidrugHug8 commented on #43
resolved.

[2020-07-15 06:37] #43 closed

[2020-08-19 02:02] djshowtime opened #45 "Typo in ‘train your model’"
https://github.com/bitextor/bicleaner/wiki/How-to-train-your-Bicleaner

`    | LC_ALL=C sort -nr \ \` might be `    | LC_ALL=C sort -nr \`

[2020-08-19 08:28] ZJaume commented on #45
Fixed, thank you! :smile:

[2020-08-19 08:30] #45 closed

[2020-09-15 08:11] zuny26 opened #46 "Missing strip() causes inconsistent results"
If I want to run Bicleaner on some data that has columns in a different order than my model, as far as I understand, I can either:
* Use `--scol` and `--tcol` parameters to indicate where source and target are
* Change the column order in the data to match the expected values (`scol`=3, `tcol`=4)

It seems like these options should give the same result, but they don't. In the example I provide, I

[2020-09-15 08:30] mbanon commented on #46
Thanks for the report, @zuny26 . We'll take a look into it :)

[2020-09-18 14:51] mbanon commented on #46
Hi @zuny26 ,
I fixed it in brach `bicleaner-0.15`   https://github.com/bitextor/bicleaner/commit/d504a62135f4b247e9177c7016fdfb28a27e0858

[2020-09-18 14:51] #46 closed

[2020-10-08 11:46] xpertasks opened #48 "OSError: Cannot read model; lmplz: not found"
Hi,

I am getting the following error while training with bicleaner_train.py

[code]
There is already one similar issue: https://github.com/bitextor/bicleaner/issues/33. But it did not help me. Removing `stderr=PIPE, stdout=PIPE` and adding `check=True` in https://github.com/bitextor/bicleaner/blob/master/bicleaner/lm.py#L89 helped me find the issue, and I resolved it by adding the absolute paths

[2020-10-08 12:17] xpertasks commented on #25
+1

[2020-10-08 14:24] jelmervdl commented on #48
It would be helpful if `_estimate_kenlm` has some form of checking going on, it would make debugging this and other issues with kenlm a bit easier.

Suggested: Either with `check=True` in the `subprocess.run()` calls (but then mind that you don't get to see the error message as the logging lines are never reached) or by checking the `returncode` of the return value.

[2020-10-13 16:04] ZJaume commented on #48
I'm trying to reproduce this bug and try to check status. I've rebuild KenLM without the `CMAKE_PREFIX` option and print to logging the stderr if return code from `lmplz` is different than 0:
[code]
but the output is not very informative, it only adds:
[code]

Maybe an error message that says "check your kenlm install prefix installation" could be added if the return code is error, but I don't hav

[2020-10-14 10:55] jelmervdl commented on #48
I don't understand. That error seems to tell you that it can still find lmplz (apparently it's still in your PATH) but it runs out of memory. I would say that's already more informative than an unrelated AttributeError.

[2020-11-07 12:57] #48 closed

[2020-11-11 09:52] kpu opened #49 "Buffered tokenizer"
It looks like the `-S` and `-T` arguments require an unbuffered tokenizer i.e. they block waiting for a line of output.  This should really be done as streaming: the text comes in, is shunted to tokenizers in other threads, and then is merged back into the input for cleaning.

[2020-11-11 10:54] ZJaume commented on #49
Agree on that, but this could need to change the way we compute features because `feature_extract` function is responsible of calling the tokenizer. I will take a look at it soon.

[2020-11-19 10:09] ZJaume commented on #49
There are still things to fix (scores aren't correct) and changing `classifier-full` to buffered tokenization still pending, but performance improvements are good:

External buffered tokenization:
[code]

External tokenization:
[code]

Internal batched tokenization
[code]

Internal tokenization:
[code]

Working on https://github.com/bitextor/bicleaner/tree/buffered-tok

[2020-11-20 16:47] ZJaume commented on #49
Buffered tokenization working for both versions of `bicleaner-classify` and feature computation of `bicleaner-train`. Changes squashed at `bicleaner-0.15` branch: https://github.com/bitextor/bicleaner/commit/26dfaa028a1b79bff4e3ee095c2d5e22fc05d09c

Unfortunately, porn removal is still tokenizing line by line because it's inside hardrules and is the only hardrule that requires tokenization (only o

[2020-12-02 11:14] jgcb00 opened #50 "Porn sentences through bicleaner"
Hi,
Here is a file of 10 000 porn sentences that went through bicleaner en_nl v0.14 en were not flag.

Hope that it can help,
[biclean_porn.txt](https://github.com/bitextor/bicleaner/files/5628825/biclean_porn.txt)

[2020-12-02 11:28] ZJaume commented on #50
That's nice, thank you so much. I'll append to the current porn_removal training file for the next release, hopefully it will improve performance for the classifier.

[2020-12-18 15:44] jgcb00 commented on #50
Hi,
I went through a manual review of the file and find out that my grep was a bit to agressive.
So I make an manual check and come out with 2 files, one wich sexual non pornographic senteces and one with pornographic sentences. Hope it will help you.

I don't have the time to make the 10'000 sentences review.

[porn_bicleaner.txt](https://github.com/bitextor/bicleaner/files/5716629/porn_bicleaner

[2020-12-19 08:11] ZJaume commented on #50
The porn removal classifier was introduced to remove only explicit porn and not profanity. So, this is helpful, thanks!

[2021-01-19 12:30] cgr71ii opened #51 "Bicleaner consumes all available memory"
When doing some tests, I have detected that Bicleaner makes the computer to freeze because it consumes all available memory without end. The issue seems to not be affected by the concrete Bicleaner model since I have used 2 different models (one created through training and https://github.com/bitextor/bicleaner-data/releases/download/v1.4/en-fr.tar.gz). The file which makes to fail is `bicleaner_c

[2021-01-19 13:04] ZJaume commented on #51
I tried `0.gz` myself with the French model and does not fail, so I'm assuming you could have less than ~2GB of memory available on your machine? The Bicleaner 0.14 models are quite large due to Extremely Randomized Trees classifier but it shouldn't use more than 2.5GB, only 10K sentences are loaded into memory at each time.

[2021-01-19 13:54] cgr71ii commented on #51
Ok, I have tried again and it worked with the French model. I though that did not work before because I let Bitextor running and it got frozen, then I guessed it had happened because this problem that I was debugging. Even so, I have checked out again that it consumes all the available memory if `model.tar.gz` is used (if you are going to give it a try, you will need to modify the paths of `new-en

[2021-01-19 15:13] ZJaume commented on #51
Well, I've run your model and loading the classifier eats the whole memory:

https://github.com/bitextor/bicleaner/blob/0dc06d3f805521abeda86602342af4fc0aaa288f/bicleaner/bicleaner_classifier_lite.py#L111

Your model has been trained with `--classifier random_forest` but training and saving a RandomForest classifier inside the python interpreter as Bicleaner does, does not result in such a problem

[2021-01-20 10:49] cgr71ii commented on #51
Yes, I have used `--classifed random_forest`, and I have not try to use `--classifier extra_trees` since I would like to avoid to expending more time on training. The full command I have used is:

[code]

The command is the one being used in Bitextor. If you want to reproduce, maybe the easiest would be to execute directly Bitextor with `greenpeaceaa.warc` and in `snake_performance` branch. Anyway

[2021-01-20 15:02] ZJaume commented on #51
I'm unable to reproduce the same error, all the classifiers that I've trained with your command and your data are loaded correctly. It seems to be a corruption of the classifier file that you trained. Even so, I'm capable of [decompressing](https://unix.stackexchange.com/a/240060) it and then loading successfully:

[code]
[code]

If it's not a corrupted file, it should be a joblib bug. But I'm not

[2021-01-20 16:28] lpla commented on #51
Are you both using the same code branch and the same `requirements.txt`? Also, which Python version are you using? Just to be sure we are all in the same playground.

[2021-01-20 16:53] ZJaume commented on #51
I've been using Bicleaner 0.14, which is the same as the submodule in `snake_performance` branch (well 2 commits of difference, but none of them change any python code) and Python 3.6.9.

[2021-01-25 13:32] cgr71ii commented on #51
I've been making tests, and it seems that the problem is related to the fact that I'm running 2 parallel processes that are running the bicleaner training. When I don't run these processes at the same time, it doesn't fail, but when I do, it fails (concretely, I'm running the processes with `&` at the end of the script).

Is it possible that, if Bicleaner training is executed in parallel, fails du

[2021-01-25 14:55] ZJaume commented on #51
There are no common files being used between training instances unless the training instances share filepaths in its parameters. For example, if both save classifier file to the same path. This is what could have happened.

[2021-01-26 08:47] cgr71ii commented on #51
Ok, problem found. The problem was exactly what you described: the classifier was being stored in the same directory, and since they have both the same name (i.e. `{lang1}-{lang2}.classifier`), one instance is storing its classifier over the other instance classifier.

In the end, was a not an issue, but a misconception about how the training files were being generated. Sorry :(

[2021-01-26 10:30] #51 closed

[2021-01-26 11:04] #50 closed

[2021-01-26 11:08] #49 closed

[2021-01-26 21:54] pmoda opened #52 "bicleaner-classify cannot serialize '_io.TextIOWrapper'"
Hi, I am trying to run a simple biclearner classify on some english-french data.
Using Windows and Python 3.7 and the command in this format:
.../bicleaner-classify ...\test2.tmx ...\en-fr\en-fr.yaml

I am getting the following message:
[code]
I looked around and there were mentions of this being caused by the logger, tried commenting all references with no change.
Also tried bicleaner-classify-li

[2021-01-27 09:44] mbanon commented on #52
Hi Patrick,
we are happy that you find Bicleaner interesting :)

Regarding your issue, you are apparently trying to run Bicleaner on a TMX file. This is not supported, you need to extract parallel text from the TMX and run Bicleaner on the parallel text. To extract parallel text from the TMX file, you can use this tool https://github.com/sortiz/tmxt

Please let us know if this worked :)

PS: Bicle

[2021-01-28 00:05] pmoda commented on #52
Great! the parallel format worked.

Note: I had to specify encoding="utf-8" for input-output-metadata arguments for it to work
and never got the full version to work on Windows, only the Lite (which is good enough for me)

Thank you so much for your help!

[2021-01-28 08:42] mbanon commented on #52
Great to know it worked for you!
Please don't hesitate to open a new issue if you need further help :)

[2021-01-28 08:42] #52 closed

[2021-03-03 20:37] jgcb00 opened #53 "Issue with training a bicleaner model"
Hi,
I tried to train a bicleaner model for fr-nl, I am on the last docker version, and in bicleaner repo I made `git checkout bicleaner-0.14`. I used bicleaner version 0.14 for months without any issue.

For the first time I'm trying to train a model, and I'm struggling.

On the last step:
[code]
It 's working when I remove the : `--lm_file_sl model.fr-nl.fr  --lm_file_tl model.fr-nl.nl` options.

[2021-03-03 20:57] ZJaume commented on #53
Hi Jean-Gabriel

I guess that the error is because you are using the `--lm_file*` and it is attempting to train the character language model without the training files. The language model is optional, so you can remove those options. Otherwise, if you want the language model, you only need monolingual sentences in the source and target language in separated files. You can get those sentences from

[2021-03-04 11:25] jgcb00 commented on #53
Ok, does the model improve the performance of bicleaner ? What is it use for ?

[2021-03-04 11:55] ZJaume commented on #53
It is a 7-gram character language model used as a hardrule to filter out ugly sentences. It is useful when you are dealing with very noisy data from the web but still removes sentences that could be good. My advice is to train it because it is cheap and then you can disable during the classifying process with `--disable_lm_filter` in cas you don't want it. To see if the LM filter is useful to you,

[2021-03-04 12:24] jgcb00 commented on #53
Ok thank you very much, how many sentences is recommended  for the training of the LM model ?

[2021-03-04 12:32] ZJaume commented on #53
With at least 200K sentences you'll probably be ok

[2021-03-04 12:35] ZJaume commented on #53
Another advise that I could give you is to disable minimal length rule if you are gonna train NMT only with the sentences filtered by Bicleaner. Otherwise your model could end up having poor performance with short sentences if you don't have samples with 1/2/3 words in a sentence.

[2021-03-04 12:39] jgcb00 commented on #53
Yes I made y own version of bicleaner hardrules deleting all regex that I found not usefull.
Thank you very much for your help i keep you updated if the training fail.

[2021-03-04 13:45] jgcb00 commented on #53
I have the same issue with the two files,
[code]

[2021-03-04 14:58] ZJaume commented on #53
Could you post the full command?

[2021-03-04 16:53] ZJaume commented on #53
Hi again,

Remembered that those errors usually occur when KenLM is not correctly installed (check that you pointed to the right python environment with `-DCMAKE_INSTALL_PREFIX` whern installing it) or because KenLM is running out of memory. Unfortunately, 0.14 version does not print the stderr output of KenLM if it fails, but I've added a commit to the `bicleaner-0.15` branch that prints the outp

[2021-03-08 12:46] jgcb00 commented on #53
Hi,
this is my command :
[code]
[code]
Okay, i was expecting that KenLM was correctly install since it's on the docker but I will check that.

[2021-03-09 15:04] jgcb00 commented on #53
So i reinstalled kenlm from scratch in the docker and it's still not working. I switched to 0.15 branches.
[code]
So maybe I didn't run with the right prefix:
[code]
kelm is in `/opt/bitextor/bicleaner/bicleaner` so it's `/opt/bitextor/bicleaner/bicleaner/kenlm/` or `/opt/bitextor/bicleaner/bicleaner/kenlm/build` ?

[2021-03-09 15:25] ZJaume commented on #53
The prefix path is path to your python environment or any other path where the system places binaries. In the case of a docker image, it could be `/usr/bin`, I guess.

[2021-03-11 09:42] jgcb00 commented on #53
It 's still not working neither as /bin, from my investigation, I found out that the script is looking for lmplz wich is in my `/opt/bitextor/bicleaner/bicleaner/kenlm/bin/` file, so he is not looking at the right place.
Switching to bicleaner-0.15 did'nt help

[2021-03-11 09:58] ZJaume commented on #53
Have followed all the steps for KenLM installation?

[code]

In your case, if you are not installing bicleaner in a virtual environment, you could omit use as prefix any of `/usr/bin` or `/bin`, or directly omit the `-DCMAKE_INSTALL_PREFIX` and it will default to one of those, I guess. Even so, if any of these things does not work, you could add your KenLM  install path to your $PATH environment v

[2021-03-11 12:19] jgcb00 commented on #53
Hi, indeed the only thing missing was the export command,
Thank you very much !

[2021-03-11 12:19] #53 closed

[2021-08-25 08:23] nataliamakhamalkina opened #55 "dict_pruner.py freezes"
Hello. Our Bicleaner is v0.14 and all required modules are installed in correspondence to `requirements.txt`, we run the training on Ubuntu machines.

We are currently trying to train a custom Chinese-English bicleaner model. The size of parallel ZH-EN corpus is 10M sentences. We've successfully built probabilistic dictionaries (via `train-model.perl`) and gzipped + pruned the Chinese dictionary.

[2021-08-25 08:42] mbanon commented on #55
Hi Natalia,
we are aware that the dictionary pruner may take a long time to end (it depends on the languages involved and the size of  the input dictionary), but I never saw it actually freezing (although 115 hours seem definitely too much :/ )

Maybe you can check your temporary directory to see if there are temp files being written?
https://github.com/bitextor/bicleaner/blob/master/utils/dict_pr

[2021-08-25 10:23] nataliamakhamalkina commented on #55
Thank you!
Yes, there are some temporary files in `/tmp` that look like parts of a dictionary and one of them was recently updated.
I also tried pruning small portions of the English dictionary (1K, 10K, 1M lines), and they all finished successfully.
I checked our other models and noticed that the size of Chinese-English dictionaries is huge (64M lines) compared to the raw dictionaries of other mo

[2021-08-25 14:16] mbanon commented on #55
Yes, it definitely might be the cause of

[2021-08-25 14:35] nataliamakhamalkina commented on #55
This is weird, because the size of our Chinese-English training corpus is exactly 10M sentences, so I don't really understand where do 64M dictionary entries come from. I'll try training on a 5M corpus. Thank you for your help!

[2021-10-06 14:36] lpla opened #56 "scipy needs to be upgraded to 1.7.1, and joblib to 1.0.1"
Hi. I tried to install `bicleaner` in Fedora 34 (Python 3.9.6) and got this error:
[code]

Manually upgrading to `scipy==1.7.1` in requirements.txt and reinstalling bicleaner fixed it, at least for my Bitextor tests. Please, bump scipy version if there is no other regression or side effect with that.

EDIT: seems like joblib also needs to be updated to make training work. Tried running `bicleaner-

[2021-10-06 14:41] ZJaume commented on #56
there you go

[2021-10-07 09:17] lpla commented on #56
@ZJaume it is likely that `joblib` needs version bump too. I updated the issue with more info

[2021-10-07 09:51] ZJaume commented on #56
done! :smile:

[2021-10-07 16:27] #56 closed, assigned to ZJaume

[2021-10-12 16:58] hlhlpfp opened #57 "Training Corpus"
Hi,
I am new in Data Science field and wanted to understand more about training corpus in this case that needs to be around 100K of very clean parallel sentences in order to train the Bicleaner model. Why it needs to be super cleaned input/parameter, instead of mix data (clean and noisy sentences) ?! How the Bicleaner classifier will understand that the pair of sentences is clean or noisy if it is

[2021-10-13 07:23] ZJaume commented on #57
Hi @hlhlpfp,
Negative samples for supervised training are built synthetically from the input training set. So, all of the input sentences are considered positive samples, that's why you need a clean corpus. I think this responds all your questions. If you have more questions don't hesitate to ask.

[2021-10-14 12:45] #57 closed, assigned to ZJaume

[2021-10-14 20:44] hlhlpfp commented on #57
@ZJaume,
How would l evaluate the performance of such a model? Like what is the accuracy of such model?
Thanks so much

[2021-10-15 08:25] ZJaume commented on #57
This is a complicated question. Regarding the actual accuracy of the model, there are some precision and recall histograms stored at the metadata file after training. These are calculated over a development set extracted from the provided training set. Unfortunately, this can only be used as an indicator on whether if the model training has gone well or not. To perform an evaluation of the model y

[2021-10-15 14:42] hlhlpfp commented on #57
@ZJaume Thank you. l really appreciate it

[2021-10-18 17:48] ZJaume commented on #57
If the script is exactly what you post, it is working for me after fixing the `\ `. Check that there is no other backslash (`\`) escaping a space. I should be only at the end of the line.

[2021-10-19 21:41] hlhlpfp opened #58 "Probabilistic dictionaries"
After l run this command for creating probabilistic dictionaries:
mosesdecoder/scripts/training/train-model.perl --alignment grow-diag-final-and --root-dir /your/working/directory  --corpus bigcorpus.en-fr.clean -e en  -f fr --mgiza -mgiza-cpus=16 --parallel --first-step 1 --last-step 4 --external-bin-dir /your/path/here/mgiza/mgizapp/bin/
 Where bigcorpus.en-fr.clean is the input file. ( it conta

[2021-10-20 17:04] hlhlpfp commented on #58
@ZJaume Sorry to ask these questions but which is the best command you suggest to create tab separated files? (linux/python)

[2021-10-25 19:09] #58 closed, assigned to ZJaume

[2021-10-25 19:23] hlhlpfp opened #59 "Error while installing KenLM"
while running the command:
git clone https://github.com/kpu/kenlm
cd kenlm
python -m pip install . --install-option="--max_order 7"
mkdir -p build && cd build
cmake .. -DKENLM_MAX_ORDER=7 -DCMAKE_INSTALL_PREFIX:PATH=/usr/local/bin
make -j all install
I got this ERROR:
    ----------------------------------------
Running setup.py install for kenlm ... error
    ERROR: Command errored out with exit

[2021-11-08 19:12] #59 closed

[2021-11-10 15:30] hlhlpfp opened #60 "Performance evaluation"
Hello,
I trained bicleaner model and got the following parameters that indicate the performance of the model, but l can't tell if it is good model or not. Based on these results what do you think?
good_test_histogram: [13, 38, 48, 98, 165, 360, 661, 1121, 1471, 1025]
wrong_test_histogram: [2270, 610, 594, 495, 461, 328, 161, 68, 11, 0]
precision_histogram: [0.5001000, 0.6464031, 0.7002972, 0.76280

[2021-11-10 15:36] mbanon commented on #60
Hi there, @hlhlpfp

Looking at the accuracy histogram, you got the peak at the 6th value, that means that the optimum threshold for bicleaner is 0.5 (values in the histogram mean the accuracy when setting the threshold at 0.0, 0.1, 0.2, ..., 1.0).

That means that, when setting the threshold in 0.5, your accuracy will be aprox 0.906, wich is quite good.

Cheers,
-Marta.

[2021-11-10 15:36] #60 closed

[2021-11-23 23:59] hlhlpfp opened #61 "Can't understand what third column(numbers generated when testing bicleaner)"
hi,
I trained bicleaner and then tested it. The resulting file had an extra column (as expected) with numbers between 0 and 1.
Understanding the factors 	Bien comprendre l	0.752
will allow for tailored .	permettra d’élaborer 	0.824
Strengthen key and vulnerable	Renforcer les connaissances 	0.610
Expanded reinforcement 	Renforcement accru 	0.672
Indicate the proposed 	Indiquez le montant 	0.818

Wh

[2021-11-24 09:02] mbanon commented on #61
From the very second line in the readme:
`It indicates the likelihood of a pair of sentences being mutual translations (with a value **near to** 1) or not (with a value **near to** 0). `

[2021-11-24 09:02] #61 closed

[2021-11-24 21:01] hlhlpfp opened #62 "Model Architecture"
hi,
Wanted to know more about model architecture. what type is it? XGBoost? SVM?

[2021-11-25 07:39] ZJaume commented on #62
[Extremely Randomized Trees](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.ExtraTreesClassifier.html)

You can see the details in the last shared task that we participated [](https://aclanthology.org/2020.wmt-1.107.pdf)

[2021-11-25 08:07] #62 closed

[2021-12-06 18:40] hlhlpfp opened #63 "Performance improvement of bicleaner"
Hi,
I have trained bicleaner and evaluated its performance.
BTW l find it very useful. Thank you so much.
But wanted to know more about how to improve the performance of the model?

[2021-12-13 16:15] ZJaume commented on #63
All the improvements that have been explored are used by default and reflected in the tutorials.
If yo wanna improve the model you would need to investigate by yourself.

Or use [Bicleaner Ai](https://github.com/bitextor/bicleaner-ai) which is a new version using neural networks and its full models work considerably better than Bicleaner.

[2021-12-13 16:15] #63 closed

[2022-02-09 11:29] jgcb00 opened #65 "Does disable_hardrules also disable_lm_filter ?"
Hi,
I was wandering,`--disable_hardrules` seems to also disable the language model filtering. Is it possible to change that?

Hard rules are really strict and most of the time I don't need them but sometimes I get an extraction big mess which the language model seems to capture well only if it's applied.

So Is it possible that disable_hardrules doesn't disable_lm_filter?

Thanks

[2022-02-09 14:15] ZJaume commented on #65
We are working on a configurable [hardrules](https://github.com/bitextor/bicleaner-hardrules) that can do the trick. It won't be released yet but you can try it installing master branch.

To run with a custom configuration you have to use the `-c config.yml` to provide a YAML config.
The configurable rules are [here](https://github.com/bitextor/bicleaner-hardrules/blob/1877b5410bbedc1b60bd3f14e7c5

[2022-02-10 15:15] jgcb00 commented on #65
Ok thanks,
Can't wait to see it working with bicleaner natively.
I will use this way in the mean time.

Thanks

[2022-02-10 15:15] #65 closed

[2022-02-10 16:45] jgcb00 opened #66 "Improving probabilistic dictionary"
Hi again,
We started a few months ago to look at the probabilistic dictionary used in bicleaner and we found them quite noisy with a lot of wrong word alignment.
So we develop a new approach to build the probabilistic dictionary based on  [awesome-align](https://github.com/neulab/awesome-align) which resulted in a better accuracy of the bicleaner score.

So here is how we did it :
[code]
Then buil

[2022-02-10 16:59] ZJaume commented on #66
Thanks for the recommendation, I've added the link of the issue at the wiki in case someone needs it. Unfortunately this is not useful for bicleaner-ai because does not use any of the statistical features and it's fully based on neural networks.

[2022-02-10 16:59] #66 closed

[2022-02-10 17:09] jgcb00 commented on #66
Indeed, I misread the wiki page of bicleaner-ai.

[2022-02-11 13:32] ZJaume commented on #65
Solved a bug in lm_filter in the parametrized hardrules, please if you were already using it update the master branch.

[2022-03-10 13:15] jgcb00 commented on #65
Hi,
it looks like now bicleaner-hardrules is now integrate in bicleaner, am I right ?

So I should be able to personalize the .yaml file with bicleaner rules ?

[2022-03-10 13:23] ZJaume commented on #65
Yes, you are right.

[2022-03-24 12:29] cgr71ii opened #68 "Tests don't pass"
I have run the tests but 1 didn't passed:

[code]

The problem seems to be related to pycld2, since it is being imported in file `features.py` but is not in `requirements.txt`.

I have installed Bicleaner from last [commit](https://github.com/bitextor/bicleaner/commit/8f6fa93d6a3e024fec72516d8bc155f69917b471)

[2022-03-25 11:06] cgr71ii opened #69 "ModuleNotFoundError: No module named 'pycld2'"
I have installed the [last commit](https://github.com/bitextor/bicleaner/commit/8f6fa93d6a3e024fec72516d8bc155f69917b471) from master, but when I run either `bicleaner-classify` or `bicleaner-classify-lite`, it fails.

Installation:
[code]

Error:
[code]

[2022-04-27 18:33] #69 closed

[2022-05-31 17:24] MaximumEntropy opened #71 "Bicleaner models for Paracrawl bonus languages"
Hi,

I was wondering if there are any plans to release bicleaner models for the "bonus" paracrawl languages such as Ukrainian or Chinese?

Thanks!

[2022-06-02 11:07] mbanon commented on #71
Hi @MaximumEntropy ,

of course, we aim at publishing all the individual models trained for Bicleaner as they become available. Note that for most of the bonus languages in ParaCrawl, we did not use a language-specific model, but the multilingual one.

[2022-06-02 11:07] #71 closed

[2022-06-02 17:38] MaximumEntropy commented on #71
Thanks! Can I get a link to the multilingual model and the list of languages that it supports?

[2022-06-03 07:12] mbanon commented on #71
Sure, you must use bicleaner-ai (https://github.com/bitextor/bicleaner-ai) for the multilingual (en-xx) model. You can find all models for bicleaner-ai  here: https://github.com/bitextor/bicleaner-ai-data/releases/tag/v1.0

[2022-07-05 11:51] mbanon commented on #68
I have been trying pytesting bicleaner but I've been unable to reproduce your issue, so I guess it was fixed at some point. Closing.

[2022-07-05 11:51] #68 closed

[2022-07-05 12:01] cgr71ii commented on #68
I guess that commit https://github.com/bitextor/bicleaner/commit/fd990c6dc355687dd9716bc71f835cc507999176 was the one which solved it.

[2022-07-28 11:38] cgr71ii opened #72 "Non-deterministic training when --seed is provided"
Hi!

I've trained 2 Bicleaner models using the same data and configuration, but the resulted models are different. The command I've used is:
[code]

The training data is https://object.pouta.csc.fi/OPUS-DGT/v2019/moses/en-fr.txt.zip, and for generating the dictionary statistical information https://object.pouta.csc.fi/OPUS-Europarl/v8/moses/en-fr.txt.zip has been used. The clipped version of both

[2022-07-28 12:56] ZJaume commented on #72
Yeah, you're right `--seed` should be giving deterministic training. I'm going to look into it.

[2022-07-28 17:49] cgr71ii commented on #72
Thank you! And I forgot to mention that I used CPU in order to train the models, not GPU.

[2022-09-16 11:27] ZJaume commented on #72
[Last commit](https://github.com/bitextor/bicleaner/commit/96a3d55eca00a3bb937c08388a77b06d8859f084) seems to be reproducible!

[2022-09-23 12:54] jgcb00 opened #73 "Specific Tokenizer is not working"
Hi,
I'm trying to train a english-chinese model, I would like to use jieba as a tokenizer so I create a very small script :
[code]
It's working great in bash, and with the command :
[code]
So far no issue.

But when I'm trying to train the model, it get stucks when it needs to tokenize. The process run, no error but it does nothing.

I have been able to reproduce the error using the file tokenize.

[2022-09-23 13:01] ZJaume commented on #73
You need to disable python buffering. Try `print(..., flush=True)` in your tokenizer script.

[2022-10-13 12:40] cgr71ii commented on #72
I ran the same tests multiple times and now I'm getting the same models!

Thank you!

[2022-10-13 12:40] #72 closed

[2022-10-13 20:06] cgr71ii commented on #72
By the way, I'm not sure about Bicleaner AI regarding the reproducible training (I'll check it out, eventually), but I found this in the code (https://github.com/bitextor/bicleaner-ai/blob/39326eab2026b168fdb487cdc02ffe873f3345f2/bicleaner_ai/bicleaner_ai_train.py#L115):

[code]

I just wanted to mention that this line doesn't have any effect (https://stackoverflow.com/questions/30585108/disable-h